/* Colours used:
    Main Background Colour (White) - #FFFFFF
    Primary Main Colour (Faded Purple) - #C0CBED
    Secondary Main Colour (Light Purple) - #DCE3F5
    Button (Dark Green) - #014235
    Button Text (Off-White) - #EEEEEE
    Secondary Text Colour (lightgrey) - #757575
*/

/*  Fonts:
    Primary Font - Poppins
    Secondary Font - Alegreya */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #dce3f5;
  box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.75);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
  border-radius: 30px;
}

a {
  color: #4e4e4e;
  text-decoration: none;

  /* No underlining */
}

a:visited {
  color: #4e4e4e;
}

a:hover: a:focus {
  color: #b6b6b6;
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:hover {
  color: #ffa382;
}

a:active {
  color: #ffa382;
}

/* Button Styling */
.button {
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  display: inline-block;
  background-color: #014235;

  /* needed to override the default link color */
  color: white;
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  transition-duration: 0.3s;
}

.button,
.button:visited {
  color: white;
}

.button:hover {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #014235;
  border-radius: 15px;
  border: 3px solid #014235;
  opacity: 0.8;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #757575;
  text-transform: uppercase;
  border: 3px solid #014235;
}

.button.contact:hover {
  background-color: #014235;
  color: #eee;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #014235; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 20px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#myBtn:hover {
  background-color: transparent;
  color: #014235;
  border-radius: 15px;
  border: 3px solid #014235;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  /* 25px top and bottom, 0 left and right */
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#all {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#all h2 {
  padding-top: 100px;
}

#work_1 img {
  width: 300px;
}

#work_1 .row {
  background-color: #dce3f5;
  padding: 20px;
  border-radius: 30px;
}

#work_1 div > h3 {
  padding-top: 60px;
}

.list-padding {
  margin-top: 30px;
}

#skills .row {
  padding-bottom: 25px;
}

#prototype {
  text-align: center;
}

iframe {
  margin: 30px 0;
}

#hero h1 {
  /* Centers text */
  text-align: center;
  margin: 0;
}

#hero {
  background-color: #dce3f5;
  padding: 30px 0;
  text-align: center;
}

#hero span {
  display: block;
}

#contact {
  text-align: center;
}

#contact {
  padding-top: 30px;
  background-color: #dce3f5;
}

.border {
  padding-bottom: 50px;
}

#contact div > a {
  margin-top: 40px;
}

.middle-text {
  text-align: justify;
  padding: 0 30px;
}

#main-page h2 {
  text-align: center;
}

#about-page h3 {
  margin-top: 0;
}

#about-page h2 {
  text-align: center;
}

#about-page h1 {
  margin: 10px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
  text-align: left;
  padding-top: 10px;
}

nav > ul {
  list-style-type: none;
  padding: 7px 0;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #4a4a4a;
}

#skills ul > li {
  display: block;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 5px;
}

.mid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#skills ul {
  padding-left: 0;
  padding-bottom: 30px;
}

ul > li > a {
  padding: 0 10px;
}

ul > li {
  list-style-type: none;
}

.highlight {
  color: darkred;
  font-weight: 500;
}

#social-icons svg {
  width: 30px;
  height: 30px;
}

#social-icons li {
  display: inline-block;
  width: 100px;
}

/* Image styling for project */
#all img {
  padding: 40px 0;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 10px;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
  padding: 5px;
}

.navtoggle.responsive nav {
  padding: 10px 0 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 10px;
  }

  #work_1 h3 {
    margin-top: 0;
  }

  #all {
    text-align: justify;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  .profile {
    padding-left: 20px;
  }

  nav {
    float: right;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-6 {
    width: 60%;
  }

  .col-lg-8 {
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px)

/* ==============================
XX-large devices (1920px or larger)
================================= */
  @media only screen and (min-width: 1920px)
