/* Colours used:
    Main Background Colour (White) - #FFFFFF
    Primary Main Colour (Faded Purple) - #C0CBED
    Secondary Main Colour (Light Purple) - #DCE3F5
    Button (Dark Green) - #014235
    Button Text (Off-White) - #EEEEEE
    Secondary Text Colour (lightgrey) - #757575
*/

/* Fonts:
    Primary Font - Poppins
    Secondary Font - Alegreya */

* {
  box-sizing: border-box;
}

header {
  background-color: #DCE3F5;
  padding: 30px 15px;
  text-align: center;
  margin: 30px 15px 0 15px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

body {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #4E4E4E;
  text-decoration: none; /* No underlining */
}

a:visited {
  color: #4E4E4E;
}

a:hover:
a:focus {
  color: #B6B6B6;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:hover {
  color: #FFA382;
  text-decoration: underline;
}

a:active {
  color: #FFA382;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #014235;
  color: white; /* needed to override the default link color */
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  border-bottom: 0px solid #B6B6B6; /* width of the border, type, color */
}

.button, .button:visited {
  color: white;
}

.button:hover {
  background-color: transparent;
  text-decoration: none;
  border: 3px solid #014235;
  color: #014235;
}
.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #757575;
  text-transform: uppercase;
  border: 3px solid #014235;;
}
.button.contact:hover {
  background-color: #014235;
  color: #EEEEEE;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
}
#hero {
  background-color: #DCE3F5;
  display: inline-block;
  padding: 20px 0;
  margin: 0 15px 0 15px;
}

.logo {
  max-width: 100px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #4a4a4a;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

ul > li > a {
  padding: 0 10px;
}

div > ul {
  list-style-type: disc;
  padding: 0;
}

div > ul > li {
  display: block;
  font-weight: 500;
  font-size: 12px;
}

div > ul > li > a {
  padding: 0 10px;
}
